html,
body {
    height: 100%;
    width: 100%;
}


/* 最大容器 */

.lt-container {
    height: 100%;
    width: 100%;
    
}


/* 头部 */

header {
    width: 100%;
    // height:.45rem;
    position: fixed;
    .lt_head {
        padding: 0 0.45rem;
        text-align: center;
        position: relative;
        width: 100%;
        background-color: #006699;

        p {
            line-height: 0.45rem;
            margin: 0;
            color: #ffffff;
            font-size: 0.2rem;
        }
        a {
            position: absolute;
            color: #ffffff;
            span{
                display: block;
                padding: 0.13rem;
                font-size: 0.18rem;
            }
        }
        a:nth-of-type(2){
            right: 0;
            top: 0;
        }
    }
}


/* 公共内容 */

.lt-content {
    height: 100%;
    width: 100%;
    padding: .44rem  0  .5rem  0;

    .lt_zhuan{
        height: 100%;
        width: 100%;
    }
}


/* 底部 */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;

    .lt-foot {
        width: 100%;
        text-align: center;
        background-color: #006699;
        position: relative;

        a {
            padding-top: 0.1rem;
            float: left;
            width: 25%;
            color: #fff;
            span{
                font-size: 0.2rem;
                display: block;
            }
            p {
                font-size: 0.2rem;
            }
        }
        .active {
            color: #ff8c00;

        }
    }
}