<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0" />
    <title>乐淘首页</title>
    <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="assets/mui/css/mui.css" />
    <link rel="stylesheet" href="assets/fa/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/category.css" />
</head>

<body>
    <div class="lt-container">
        <!-- 头部 -->
        <header>
            <div class="lt_head">
                <!-- 返回上个页面 -->
                <a href="javascript:history.back()"></a>
                <p>乐淘分类</p>
                <a href="search.html">
                    <span class="fa fa-search"></span>
                </a>
            </div>
        </header>
        <!-- 内容分类start -->
        <div class="lt-content">
            <div class="lt_right mui-clearfix">
                
                <div class="lt_left">
                    <div class="lt_zhuan">
                            <div class="mui-scroll-wrapper">
                                    <div class="mui-scroll">
                                        <!--这里放置真实显示的DOM内容-->
                                        <ul>
                                            <!-- 通过模版引擎来渲染 一级分类 -->
                                                
                                        </ul>
                                    </div>
                                </div>
                        
                    </div>
                </div>  
                <div class="lt_right_content">
                        <div class="lt_zhuan">
                                <div class="mui-scroll-wrapper">
                                        <div class="mui-scroll">
                                            <!--这里放置真实显示的DOM内容-->
                                            <ul class="lt_right_right mui-clearfix">
                                                <!-- 这里通过二级模版来勋渲染 -->
                                                    
                                            </ul>
                                        </div>
                                    </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- 内容分类end-->

        <!-- </div> -->
        <!-- 底部 -->
        <footer>
            <div class="lt-foot mui-clearfix">
                <a href="index.html" class="active">
                    <span class="fa fa-home"></span>
                    <p>首页</p>
                </a>
                <a href="category.html">
                    <span class="fa fa-bars"></span>
                    <p>分类</p>
                </a>
                <a href="javascript:;">
                    <span class="fa fa-shopping-cart"></span>
                    <p>购物车</p>
                </a>
                <a href="javascript:;">
                    <span class="fa fa-user"></span>
                    <p>会员中心</p>
                </a>

            </div>
        </footer>
    </div>

</body>
<script src="./assets/mui/js/mui.js"></script>
<!-- 移动端的jq -->
<script src="./assets/zepto/zepto.min.js"></script>
<!-- 模版 -->
<script src="./assets/artTemplate/template-native.js"></script>
<script src="./js/index.js"></script>
<script src="./js/category.js"></script>
<!-- 写模版 一级分类的模版-->
<script type="text/template" id="firstCat">
    <%  for(var i=0; i <rows.length ; i++ ){%>
        
        <li class="<%= i==0 ?'active':'' %>">
            <a href="javascript:;" data-id=<%= rows[i].id  %> > <%=rows[i].categoryName%></a>
        </li>
    <%}%>
</script>

<!-- 写模版 二级分类的模版 -->
<script type="text/template" id="secondCat">
    <%if(rows.length == 0) {%>
        <p>暂无该数据</p>
    <%} else {%>
        <% for(var i = 0 ; i < rows.length ; i++ ) {%>
        <li data-id=<%=rows[i].id%>>
            <a href="javascript:;" data-id=<%=rows[i].categoryId %>>
                <img src="<%=rows[i].brandLogo %>" alt=""> 
                <p><%=rows[i].brandName %></p>
            </a>
        </li>
        <% } %> 
    <% } %>    
</script>

   
</html>